<?xml version="1.0" encoding="utf-8"?>

<!--
  - @author Ondrej Kosatka
  - @author Libor Kramolis
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="cz.kramolis.gdd2011.android"
		  android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="11"/>

	<uses-feature android:name="android.hardware.usb.accessory"/>

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<!-- TODO: snad na overeni dostupnosti site-->

	<application android:name=".LaPardonApplication" android:icon="@drawable/icon" android:label="@string/app_name">
		<uses-library android:name="com.android.future.usb.accessory"/>

		<activity android:name="MainActivity" android:label="@string/app_name">
			<!--
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			-->
		</activity>

		<activity android:name=".AboutActivity" android:label="@string/app_name"/>
		<activity android:name=".LaPardonPreferencesActivity" android:label="@string/app_name"/>
		<activity android:name=".QueueActivity" android:label="@string/app_name"/>
		<activity android:name=".SimulateActivity" android:label="@string/app_name"
				  android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".UsbAccessoryActivity" android:label="@string/app_name"
				  android:taskAffinity="" android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"/>
			</intent-filter>
			<meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
					   android:resource="@xml/accessory_filter"/>
		</activity>

		<service android:name=".TwitterService"/>
	</application>

</manifest>
